<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="header" :: myheader></div>
</head>

<body>
<div class="row">
  <div class="col-md-12" th:replace="navbar" :: mynavbar></div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card text-white bg-info mostly-customized-scrollbar basicInformation">
      <div class="card-body">
        <h5 class="card-title" th:text="'Welcome '+ ${firstName} +' '+ ${lastName}">Card title</h5>
        <p class="card-text">See below some basic information.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item overview-card-info" th:text="'Age:'+ ${age}"></li>
        <li class="list-group-item overview-card-info" th:text="'Gender:'+ ${gender}"></li>
        <li class="list-group-item overview-card-info" th:text="'Weight:'+ ${weight}"></li>
        <li class="list-group-item overview-card-info" th:text="'BloodGroup:'+ ${bloodGroup}"></li>
        <li class="list-group-item overview-card-info" th:text="'Pregnant:'+ ${pregnant}"></li>
        <li class="list-group-item overview-card-info" th:text="'OrganDonor:'+ ${organDonor}"></li>
        <li class="list-group-item overview-card-info" th:text="'Smoker:'+ ${smoker}"></li>
        <li class="list-group-item overview-card-info" th:text="'Insured at:'+ ${insurance}"></li>
        <li class="list-group-item overview-card-info"
            th:text="'Additional info: '+ ${additionalInfo}"></li>
      </ul>
    </div>
    <div class="card text-white bg-danger mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Emergency Contact List'"></h5>
        <p class="card-text">Below you can see Emergency Contact list.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Emergency Contact List!-->
        <table>
          <tbody>
          <tr th:if="${contacts.empty}">
            <td colspan="2"> No Emergency Contacts are Known</td>
          </tr>
          <tr th:each="contact : ${contacts}">
            <td class="list-group-item overview-card-danger">
              <span
                  th:text="${contact.firstName} + ' ' + ${contact.lastName} + ' ' + 'Telephone: '+ ${contact.telephone}">> Contact Details </span>
              <p
                  th:text="'Email: ' + ${contact.email}">
                Contact Details </p>
              <p
                  th:text="'Address: ' + ${contact.address}">
                Contact Details </p>
            </td>
          </tr>
          </tbody>
        </table>
      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-warning mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Current Medications '"></h5>
        <p class="card-text">Below you can see the active medication list.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Medications list !-->
        <table>
          <tbody>
          <tr th:if="${medications.empty}">
            <td colspan="2"> No Medications are Known</td>
          </tr>
          <tr th:each="medication : ${medications}">
            <td class="list-group-item overview-card-warning">
              <span
                  th:text="${medication.medicationName} + ' ' + ${medication.activeIngredient} + ' ' + 'Dosis: '+ ${medication.dosage}">> Medication Details </span>
            </td>
          </tr>
          </tbody>
        </table>

      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card text-white bg-danger mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Vaccinations List '"></h5>
        <p class="card-text">Below you can see the active Vaccination list.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Vaccination List  !-->
        <table>
          <tbody>
          <tr th:if="${vaccines.empty}">
            <td colspan="2"> No vaccines are Known</td>
          </tr>
          <tr th:each="vaccine : ${vaccines}">
            <td class="list-group-item overview-card-danger">
              <span
                  th:text="${vaccine.name} + ' ' + ${vaccine.date}"> Vaccination Details </span>
            </td>
          </tr>
          </tbody>
        </table>
      </ul>
    </div>

    <div class="card text-white bg-info mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Drug Intollerance List'"></h5>
        <p class="card-text">Below you can see Drug intollerance list.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Drug intollerance list !-->
        <table>
          <tbody>
          <tr th:if="${drugIntollerances.empty}">
            <td colspan="2"> No DrugIn tollerances are Known</td>
          </tr>
          <tr th:each="drugIntollerance : ${drugIntollerances}">
            <td class="list-group-item overview-card-info">
              <span
                  th:text="${drugIntollerance.name}"> Vaccination Details </span>
            </td>
          </tr>
          </tbody>
        </table>

      </ul>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card text-white bg-danger mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Allergies List'"></h5>
        <p class="card-text">Below you can see Allergies list.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Allergies  List!-->
        <table>
          <tbody>
          <tr th:if="${allergies.empty}">
            <td colspan="2"> No Allergies are Known</td>
          </tr>
          <tr th:each="allergie : ${allergies}">
            <td class="list-group-item overview-card-danger">
              <span
                  th:text="${allergie.name} + ' ' + ${allergie.knownSince}"> Vaccination Details </span>
            </td>
          </tr>
          </tbody>
        </table>

      </ul>
    </div>
    <div class="card text-white bg-info mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'PreviousIllness List'"></h5>
        <p class="card-text">Below you can see PreviousIllness List.</p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- PreviousIllness List!-->
        <table>
          <tbody>
          <tr th:if="${previousIllnesses.empty}">
            <td colspan="2"> No PreviousIllnesses are Known</td>
          </tr>
          <tr th:each="previousIllness : ${previousIllnesses}">
            <td class="list-group-item overview-card-info">
              <span
                  th:text="${previousIllness.name} + ' ' + ${previousIllness.date}"> PreviousIllness Details </span>
            </td>
          </tr>
          </tbody>
        </table>

      </ul>
    </div>

    <div class="card text-white bg-warning mostly-customized-scrollbar">
      <div class="card-body">
        <h5 class="card-title"
            th:text="'Recommendations for you '"></h5>
        <p class="card-text">Here are few recommendations for you. </p>
      </div>

      <ul class="list-group list-group-flush">
        <!-- Recommendations  List!-->
        <table>
          <tbody>
          <tr th:if="${allergies.empty}">
            <td colspan="2"> No Recommendations for you, you are awesome</td>
          </tr>
          <tr th:each="allergie : ${allergies}">
            <td class="list-group-item overview-card-warning">
              <span
                  th:text="${allergie.name} + ' ' + ${allergie.knownSince}"> Recommendations Details </span>
            </td>
          </tr>
          </tbody>
        </table>
      </ul>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <div th:replace="appointment-overview-carousel" :: myappointment-overview-carousel></div>
    </div>
    <div class="col-md-6">
      <div th:replace="appointment-overview-carousel" :: myappointment-overview-carousel></div>
    </div>
  </div>
  <div class="row">
    <div th:replace="footer" :: myfooter></div>
  </div>
</body>
</html>