<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <div th:replace="header" :: myheader></div>
  <title>Getting Started: Handling Form Submission</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/registration}" th:object="${patient}" method="post">
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">First name: </label>
      <input type="text" class="form-control" id="validationDefault01" th:field="*{firstName}"
             placeholder="John" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Last name: </label>
      <input type="text" class="form-control" id="validationDefault02" th:field="*{lastName}"
             placeholder="Johnson" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault03">Date of Birth: </label>
      <input type="text" class="form-control" id="validationDefault03" th:field="*{dob}"
             placeholder="01.01.2010" required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="exampleInputEmail1">Email: </label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             th:field="*{email}"
             placeholder="Enter email" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
        else.</small>
    </div>
    <div class="col-md-4 mb-3">
      <label for="exampleInputPassword1">Password: </label>
      <input type="password" class="form-control" id="exampleInputPassword1" th:field="*{password}"
             placeholder="Password" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="exampleInputPassword2">Retype Password: </label>
      <input type="password" class="form-control" id="exampleInputPassword2"
             th:field="*{reTypePassword}"
             placeholder="Retype Password" required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault07">Gender: </label>
      <input type="text" class="form-control" id="validationDefault07" th:field="*{gender}"
             placeholder="Male" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault08">Blood Group: </label>
      <input type="text" class="form-control" id="validationDefault08" th:field="*{bloodGroup}"
             placeholder="A+" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault09">Organ Donor: </label>
      <input type="text" class="form-control" id="validationDefault09" th:field="*{organDonor}"
             placeholder="Yes" required>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault10">Smoker: </label>
      <input type="text" class="form-control" id="validationDefault10" th:field="*{smoker}"
             placeholder="No" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault11">Pregnant: </label>
      <input type="text" class="form-control" id="validationDefault11" th:field="*{pregnant}"
             placeholder="No" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault12">Additional Information: </label>
      <input type="text" class="form-control" id="validationDefault12" th:field="*{additionalInfo}"
             placeholder="Any useful Comment for the Doctor" required>
    </div>

  </div>
  <button type="submit" value="submit" class="btn btn-primary">Sign in</button>
</form>
</body>
</html>